* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}